* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

body {
  background-color: #f6f8fc;
}
.content {
  padding: 1rem;
  background-color: #fff;
  height: 100vh;
  height: auto;
  border-radius: 1rem;
}

@media screen and (min-width: 100px) {
  .content {
    max-width: 200px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 400px) {
  .content {
    max-width: 390px;

    margin: 0 auto;
  }
}

@media screen and (min-width: 600px) {
  .content {
    max-width: 590px;

    margin: 0 auto;
  }
}

@media screen and (min-width: 800px) {
  .content {
    max-width: 790px;

    margin: 0 auto;
  }
}

@media screen and (min-width: 900px) {
  .content {
    max-width: 900px;

    margin: 0 auto;
  }
}
